<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.retornam20">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/objecte_cub"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/objecte_cub"
        android:supportsRtl="true"
        android:theme="@style/Theme.Retornam20">
        <activity android:name=".LlistatObjectesActivity" android:screenOrientation="portrait" />
        <activity android:name=".SelectObjecteActivity" android:screenOrientation="portrait" />
        <activity android:name=".NouPrestecActivity" android:screenOrientation="portrait" />
        <activity android:name=".NouAmicActivity" android:screenOrientation="portrait" />
        <activity android:name=".SelectUsuariActivity" android:screenOrientation="portrait" />
        <activity android:name=".NouObjecteActivity" android:screenOrientation="portrait" />
        <activity android:name=".RegistrationActivity" android:screenOrientation="portrait" />
        <activity android:name=".LoginActivity" android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Retornam20.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>